@import "tailwindcss";

:root {
  --background: whitesmoke;
  --primary-color: #2254d3;
  --text-tertiary: #8e919c;
  --text-primary: #071232;
  --text-secondary: #fff;
}

@layer base {
  .bg-background {
    background-color: var(--background);
  }

  .bg-primary {
    background-color: var(--primary-color);
  }

  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .text-tertiary {
    color: var(--text-tertiary);
  }
  .text-blue {
    color: var(--primary-color);
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
    border-radius: 8px;
    background-color: var(--primary-color);
    padding: 12px 24px;
    font-weight: 600;
    cursor: pointer;
    border: none;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
